[Unit]
Description=ShellCrash Core
After=network.target

[Service]
Type=simple
User=shellcrash
ExecStartPre=/etc/ShellCrash/start.sh bfstart
ExecStart=/etc/ShellCrash/CrashCore run -D /etc/ShellCrash -C /tmp/ShellCrash/jsons >/dev/null
ExecStartPost=/etc/ShellCrash/start.sh afstart
ExecStopPost=/etc/ShellCrash/start.sh stop_firewall ; /etc/ShellCrash/start.sh unset_proxy
Restart=on-abnormal
RestartSec=10s
LimitNOFILE=infinity


[Install]
WantedBy=multi-user.target
