name: core_auto_update

on: 
    schedule:
        - cron: 0 18 * * *
    workflow_dispatch:

jobs:
    
  auto_update_singboxr_dev:
    permissions: write-all
    uses: juewuy/ShellCrash/.github/workflows/update_singbox_core.yaml@dev
    with:
      tag1: reF1nd/sing-box
      tag2: reF1nd-dev
      tag4: singboxr
      tag5: with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_shadowsocksr,with_acme,with_clash_api,with_tailscale
      tag6: gz
    secrets: inherit
    
  auto_update_meta_alpha:
    permissions: write-all
    needs: auto_update_singboxr_dev
    uses: juewuy/ShellCrash/.github/workflows/update_meta_core.yaml@dev
    with:
      tag1: MetaCubeX/mihomo
      tag2: Alpha
      tag4: meta
      tag5: with_gvisor
      tag6: gz
    secrets: inherit
    
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: cleanup
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 1
          keep_minimum_runs: 2   
